<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Datatable using angular and clarity design</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button
          class="nav-icon"
          clrDropdownTrigger
          aria-label="toggle settings menu"
        >
          <cds-icon shape="cog"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          @if(theme === 'light') {
          <button clrDropdownItem (click)="darkMode()">
            <cds-icon shape="moon" solid></cds-icon>Dark Mode
          </button>
          } @else {
          <button clrDropdownItem (click)="lightMode()">
            <cds-icon shape="sun" solid></cds-icon>Light Mode
          </button>
          }
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
      <!-- <app-employee /> -->
    </main>
    <clr-vertical-nav [clr-nav-level]="2">
      <a clrVerticalNavLink routerLink="employee" routerLinkActive="active">Employee</a>
      <a clrVerticalNavLink routerLink="department" routerLinkActive="active">Department</a>
      <a clrVerticalNavLink routerLink="position" routerLinkActive="active">Position</a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
