<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Datatable</span>
      </a>
    </div>
    <div class="settings">
      <a href="javascript://" class="nav-link nav-icon">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">Angular datatable with clarity design</nav>
  <div class="content-container">
    <div class="content-area">
      <app-employee />
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink>Employee</a>
      <a clrVerticalNavLink>Department</a>
      <a clrVerticalNavLink>Position</a>
    </clr-vertical-nav>
  </div>
</div>
