<clr-main-container>

  <clr-header class="header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Datatable using angular and clarity design</span>
      </a>
    </div>
    <div class="settings">
      <a href="javascript://" class="nav-link nav-icon">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <app-employee />
    </main>
    <clr-vertical-nav [clr-nav-level]="2">
      <a clrVerticalNavLink>Employee</a>
      <a clrVerticalNavLink>Department</a>
      <a clrVerticalNavLink>Position</a>
    </clr-vertical-nav>
  </div>

</clr-main-container>
