<!-- <pre>{{ pagination | json }}</pre> -->
<clr-datagrid
  [(clrDgSelected)]="selectedEmployees"
  (clrDgRefresh)="refresh($event)"
  [clrDgLoading]="loading"
>
  <clr-dg-column [clrDgSortBy]="'name'">Employee Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'department'">Employee Department</clr-dg-column>
  <clr-dg-column [clrDgField]="'position'">Employee Position</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'dateOfHire'">Date of Hire</clr-dg-column>

  <!-- We use *ngFor instead of *clrDgItems since -->
  <!-- we cannot use the smart iterator *clrDgItems in server driven datagrid -->
  <!-- see https://clarity.design/documentation/datagrid/code/server-driven -->
  <clr-dg-row *ngFor="let employee of employees$()" [clrDgItem]="employee">
    <clr-dg-cell>{{ employee.name }}</clr-dg-cell>
    <clr-dg-cell>{{ employee.department }}</clr-dg-cell>
    <clr-dg-cell>{{ employee.position }}</clr-dg-cell>
    <clr-dg-cell>{{ employee.dateOfHire | date }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination
      #pagination
      [clrDgPageSize]="take"
      [clrDgPage]="page"
      [clrDgLastPage]="lastPage$()"
      (clrDgPageChange)="pageChanged($event)"
      [clrDgTotalItems]="count$()"
    >
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
        Employees per page
      </clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} employees
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
